<% include header %>
<div class="container">
  <div class="row mt-4">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Descargar archivo
        </div>
        <div class="card-body">
          <!-- <form action="/" method="GET" enctype="multipart/form-data"> -->
            <div class="form-group">
              <!-- <button class="btn btn-primary btn-block" type="submit">Descargar</button> -->
              <a href="/downloads/file.txt" download="file.txt">Download</a>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
<% include footer %>
